.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

.addBookButton {
  padding: 0;
  background-color: transparent;
  border: none;
}

.imageInput {
  display: block;
  width: 145px;
  height: 205px;
  position: relative;
  border-radius: 5px;
}

.uploadImage {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.uploadImageButton {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  align-items: center;
  display: flex;
}

.addBookForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  width: 400px;
}

.fileInput {
  display: none;
}


.submitButton {
  width: 100%;
  height: 25px;
  background-color: rgb(67, 201, 67);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.textInput {
  width: 100%;
  height: 25px;
  padding-left: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: black;
  transition: border .1s ease;
}

.textInput:focus {
  border: 1px solid rgba(0, 0, 0, 0.50);
  outline: none;
}

.books {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  width: 1280px;
  flex-wrap: wrap;
}

.emptyMessage {
  align-self: center;
}